/* --------- Heading */


logo{
    height: 600px; 
    width: 100%;
    background : url(../assets/images/kids mathsGeniusLogo.PNG) no-repeat center center/cover;
    position:100%;
   }


h1{
    font-weight: bolder;
    text-align: left;
    align-items: center;
    padding-left: 150px;
    text-decoration-color:Blue;
}


/* --------- Body */

h2, h3 {
font-color: red;
text-align: center;
}


span {
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}




/* --------- Footer */
footer {
    width:100%;
}
